 /* width */
 
 ::-webkit-scrollbar {
     width: 0.1vw;
 }
 /* Track */
 
 ::-webkit-scrollbar-track {
     background: var(--kokushoku);
 }
 /* Handle */
 
 ::-webkit-scrollbar-thumb {
     background: var(--aijiro);
 }
 /* Handle on hover */
 
 ::-webkit-scrollbar-thumb:hover {
     background: var(--hakushi);
 }