{% extends "base.jinja2" %}
{% block headcontent %}{% endblock %}

{% block content %}
<div class="row center">
  <div class="text">
    <h1>
      The page you are looking for does not exist.
    </h1>
  </div>
</div>
{% endblock %}