{% extends "layout.jinja2" %}
{% block headcontent %}
<!--   works for full page reload -->
<meta http-equiv="refresh" content="{{refresh_period}}">
{% endblock %}

{% block content %}
<div class="row {{centered}} wrap-x">
    <div class="text" id="refresh">
      {{display}}
    </div>
</div>
{% endblock %}