{% extends "base.jinja2" %}
{% block headcontent %}{% endblock %}

{% block content %}
<div class="row center wrap-x">
    <div class="text">
      {{display}}
    </div>
</div>
{% endblock %}