{% extends "base.jinja2" %}
{% block headcontent %}
<script defer src="https://use.fontawesome.com/releases/v6.1.1/js/all.js" integrity="sha384-xBXmu0dk1bEoiwd71wOonQLyH+VpgR1XcDH3rtxrLww5ajNTuMvBdL5SOiFZnNdp" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
{{blank}}
{% endblock %}