{% extends "layout.jinja2" %}
{% block headcontent %}{% endblock %}

{% block content %}
<div class="row center">
  <div class="text leftAnimate">
    <h1>
      {{ title }}
    </h1>
    {% if error %}
      <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
    <div style="min-height: 5vh; min-width: 50vw;">
      <form action="{{action}}" method="{{method}}" target="{{target}}">
            <br>
            <div>   
              {% for item in raster %}
                {{ item }}
              {% endfor %}
            </div>
            <input type="submit" value="{{submit}}">
      </form>
    </div>
  </div>
</div>
{% endblock %}