{% extends "layout.jinja2" %}
{% block headcontent %}{% endblock %}

{% block content %}
<div class="row center">
  <div class="text leftAnimate">
    <h1>
      {{title}}
    </h1>
    <!-- <div style="height: 5vh; width: 5vw;">{{filler}}</div> -->
  </div>
</div>

{% endblock %}