{% extends "layout.jinja2" %}
{% block headcontent %}{% endblock %}

{% block content %}
<div class="row center">
  <div class="text leftAnimate" style="text-align:center">
    <h1>
      {{title}}
    </h1>
    <h4>
      Please select an application:
    </h4>
      <a href="{{singlechannel}}">Single Channel Enthalpy Transfer</a>
      <br>     
      <a href="{{singlechannel}}/opt">Single Channel Enthalpy Transfer Optimization</a>
      <hr>
      <br>     
    <!-- <div style="height: 5vh; width: 5vw;">{{filler}}</div> -->
  </div>
</div>

{% endblock %}