{% extends "layout.jinja2" %}
{% block headcontent %}{% endblock %}

{% block content %}
<div class="row center">
  <div class="text leftAnimate" style="text-align:center">
    <h1>
      {{title}}
    </h1>
    <h4>
      Please select an application:
    </h4>
    <p>
      <a href="naive">Naive Method</a>
    </p>
    <!-- <div style="height: 5vh; width: 5vw;">{{filler}}</div> -->
  </div>
</div>

{% endblock %}